<!-- barra menu -->
<div class="row mx-0 barrMenu">

  <!-- logo pinterest -->
  <div class="col-auto btn-gen px-2 mx-3">
    <img src="../../../assets/img/logoPinterest.png" class="rounded-circle picLogo mt-2 pb-0" alt="logo">
  </div>

  <!-- input busqueda -->
  <div class="col-input btn-input mt-1 p-0">
    <div class="row mx-0">
      <div class="col-auto p-2">
        <button id="btnSearch" class="btn-search" type="button">
          <i class="fas fa-search colorIcon"></i>
        </button>
      </div>
      <div class="col py-1 px-0 text">
        <input id="inputSearch" type="text" class="input text" placeholder="Buscar" aria-label="Example text with button addon"
          aria-describedby="button-addon1">
      </div>
      <div class="col-auto p-2">
        <button id="btnSearch" class="btn-search" type="button">
          <i class="fas fa-times colorIcon"></i>
        </button>
      </div>
      <div class="col py-1 px-0 text col-input-all">
        <input id="inputSearch" type="text" class="input text pl-3 input-all-in" placeholder="All Pins" aria-label="Example text with button addon"
          aria-describedby="button-addon1">
      </div>
      <div class="col-auto p-2">
        <button id="btnSearch" class="btn-search" type="button">
          <i class="fas fa-angle-down colorIcon"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="col mx-0 pl-3 pr-0">
    <div class="row mx-0">

      <!-- home -->
      <div class="col-auto text px-2 btn-gen py-2 my-1">
        <a>Home</a>
      </div>

      <!-- img avatar -->
      <div class="col-auto text pl-2 pr-3 px-1 btn-gen py-2 my-1 pt-1">
        <a>
          <img src="../../../assets/img/avatar.jpg" class="rounded-circle picAvatar" alt="avatar">
          <span class="text px-1">Nataly</span>
        </a>
      </div>

      <!-- iconos -->
      <div class="col-auto btn-gen py-2 px-3">
        <i class="fas fa-comment-dots colorIcon pt-1 mt-1"></i>
      </div>
      <div class="col-auto btn-gen py-2 px-3">
        <i class="fas fa-bell colorIcon pt-1 mt-1"></i>
      </div>
      <div class="col-auto btn-gen py-2 px-2">
        <i class="fas fa-ellipsis-h colorIcon pt-1 mt-1"></i>
      </div>
    </div>
  </div>
</div>

<!-- circulos + y ? -->
<div class="row m-0 barrAbs">
  <div class="col-12 size-btnabs p-0 my-1">
    <button type="button" class="font-btnabs15 rounded-circle size-btnabs shadow-btnabs">
      +
    </button>
  </div>
  <div class="h-0 "></div>
  <div class="col-12 size-btnabs p-0 my-1">
    <button class="font-btnabs1 rounded-circle size-btnabs shadow-btnabs">?</button>
  </div>
</div>


<!-- menu-palabras -->
<div class="row menu-columns scrollmenu mx-0">
  <div class="col-auto py-3 px-1" *ngFor="let arrayTag of arrayTags">
    <span class="py-3 px-4 text-option" [ngStyle]="{'background-color': arrayTag.color}" class="py-3 px-4 text-option">{{arrayTag.tag}}</span>
  </div>
</div>


<!-- cards -->
<div id="cardImg" class="card-columns pt-2 mx-2">
  <div class="card" *ngFor="let infoImage of infoImages; let i=index">
    <button type="submit" class="btn-img" data-toggle="modal" data-target="#basicModal" (click)="viewModal(i)">
      <img class="card-img p-2" src="{{infoImage.webformatURL}}" alt="Card image">
    </button>

    <!-- modal -->
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-auto">
                  <div class="col-auto btn-gen py-sm-2 px-sm-3 py-0 px-2">
                    <i class="fas fa-ellipsis-h colorIcon pt-1 mt-1"></i>
                  </div>
                </div>
                <div class="col-auto ml-auto">
                  <button type="button" class="btn btn-secondary a-url">
                    <i class="fas fa-upload"></i>
                    Enviar
                  </button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-danger">
                    <i class="fas fa-thumbtack"></i>
                    Guardar
                  </button>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-6 px-5">
                  <img class="size-img" src="{{imageModal}}" alt="Card image">
                </div>
                <div class="col-6 px-5 pt-3">
                  <div class="row">
                    <div class="col-12 btn-url text-center py-1 mb-2">
                      <a href="{{imageModal}}" class="a-url">
                        <i class="fas fa-share"></i>
                        URL</a>
                    </div>
                    <div class="col-12 py-4 line">
                      <div class="row">
                        <div class="col-auto">
                          <span class="text-com">Comentarios</span>
                        </div>
                        <div class="col-auto ml-auto">
                          <div class="col-auto btn-gen py-sm-2 px-sm-3 py-0 px-2">
                            <i class="fas fa-chevron-down text-com-i"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 pt-2 line">
                      <span class="text-user">{{userModal}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body p-1">
      <div class="row m-0">
        <div class="col-1 p-0 pr-2 ml-auto mr-1">
          <i class="fas fa-ellipsis-h text-card text-righ"></i>
        </div>
      </div>
    </div>
  </div>
</div>